@model SmartNerd.Models.Admin.SearchPage

<style>
    #menuListing img {
        background: #f00;
        display: block;
        height: 150px;
    }

    #menuListing a {
        display: block;
    }

    #menuListing div {
        padding-bottom: 15px;
        padding-top: 15px;
    }
</style>
<h2>Search</h2>
<p>Search for a product by name.</p>
@using(Html.BeginForm("Search","Menu",new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Get,new { @class = "row form-horizontal",role = "form" })) {
    
    <div class="col-sm-3">
        @Html.TextBoxFor(a => a.SearchTerm, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-info col-sm-2">Search</button>
}

@if(Model.Products == null) {
    if(Model.SearchTerm != null)
    { 
        <p>Your query did not return any results</p>
    }
} else {
    <div id="menuListing" class="row">
        @foreach(var prod in Model.Products) {
            <div class="col-sm-4 col-md-3"><a href="@Url.Action("Product", "Menu", new { productID = prod.ProductID })"><img src="#" /><span>@prod.ProductName</span></a></div>
        }
    </div>
}
