body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#productPageImg {
    float: left;
    max-width: 300px;
    vertical-align: top;
}

#productDetails {
    margin-left: 300px;
    vertical-align: top;
}

#productEditQty {
    width: 40px;
}

.clear {
    clear: both;
}
#newAddress
{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px 15px 15px;
}
.divAddress .btn
{
    margin-top: 15px;
}
.divAddress
{
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px;
    width: 250px;
}
.table-address td:first-child
{
    padding-right: 10px;
}
#saveAddress {
    margin-bottom: 10px;
}

#productEditName {
    width: 100%;
    max-width: none;
}

#productEditDesc {
    width: 100%;
    max-width: none;
    min-height: 200px;
}

#productEditPrice {
    width: 80px;
}