@model SmartNerd.Models.Menu.MenuPage
@{
    ViewBag.Title = "Browse Products";
    ViewBag.ShowSidebar = true;
}
@section banner {
    <img src="/Images/m/@(Model.CategoryID).png" id="menuBanner" />
}
    <h2>Products</h2>
    <div id="menuListing" class="row">
        @foreach (var prod in Model.Products)
        {
            <div class="col-sm-4 col-md-3"><a href="@Url.Action("Product", "Menu", new { productID = prod.ProductID })"><img src="@SmartNerd.Classes.Util.ProductUrl(prod.ProductID)"/><span>@prod.ProductName</span></a></div>
        }
</div>